                                     ASSIGNMENT
                                      PYTHON
                                     AI-2046


SUBMITTED TO:                         PROF.RASHI KUMAR                                            

SUBMITTED BY:  KULDEEP RAJAK

EN.NO-                                                                                              
0108AI211024

AIADS

In [9]:
# Q.1 Sum 3 number using python.
# Sol. 
num1 = 3
num2 = 5
num3 = 9
# add three numbers
sum = num1 + num2 + num3
print('{0} + {1} + {2} = {3}'.format(num1, num2, num3, sum))

3 + 5 + 9 = 17

In [2]:
#Q.2 Program to show various ways to read and write data in a file.
#Sol.Code
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"]

# \n is placed to indicate EOL (End of Line)
file1.write("Hello \n")
file1.writelines(L)
file1.close() #to change file access modes

file1 = open("myfile.txt","r+")

print("Output of Read function is ")
print(file1.read())
print()

# seek(n) takes the file handle to the nth
# byte from the beginning.
file1.seek(0)

print( "Output of Readline function is ")
print(file1.readline())
print()

file1.seek(0)

# To show difference between read and readline
print("Output of Read(9) function is ")
print(file1.read(9))
print()

file1.seek(0)

print("Output of Readline(9) function is ")
print(file1.readline(9))
file1.seek(0)
# readlines function
print("Output of Readlines function is ")
print(file1.readlines())
print()
file1.close()

Output of Read function is
Hello
This is Delhi
This is Paris
This is London


Output of Readline function is
Hello


Output of Read(9) function is
Hello
Th

Output of Readline(9) function is
Hello

Output of Readlines function is
['Hello \n', 'This is Delhi \n', 'This is Paris \n', 'This is London \n']

In [3]:
# Q.3 Python program to check whether the number is positive or negative.
# Sol.
def check(n):
	
	# if the number is positive
	if n > 0:
		print("Positive")
		
	# if the number is negative
	elif n < 0:
		print("Negative")
		
	# if the number is equal to
	# zero
	else:
		print("Equal to zero")
		
# Driver Code
check(5)
check(0)
check(-5)

Positive
Equal to zero
Negative

In [8]:
# Q.4  Python program to find the largest number.
# Sol.
# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [11]:
# Q 5. Python print day name of week from number.
# Sol.
# Taken day number from user
weekday = int(input("Enter weekday day number (1-7) : "))

if weekday == 1 :
    print("\nMonday");

elif weekday == 2 :
    print("\nTuesday")

elif(weekday == 3) :
    print("\nWednesday")

elif(weekday == 4) :
    print("\nThursday")

elif(weekday == 5) :
    print("\nFriday")

elif(weekday == 6) :
    print("\nSaturday")

elif (weekday == 7) :
    print("\nSunday")

else :
    print("\nPlease enter weekday number between 1-7.")

Enter weekday day number (1-7) : 5

Friday

In [12]:
# Q.6 Python Program to Check Prime Number.
# Sol.
num = 11
# If given number is greater than 1
if num > 1:
	# Iterate from 2 to n / 2
	for i in range(2, int(num/2)+1):
		# If num is divisible by any number between
		# 2 and n / 2, it is not prime
		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")
else:
	print(num, "is not a prime number")

11 is a prime number

In [14]:
# Q.7 Python Program to Check  a number whether it is Palindrome or not.
# Sol. 
def Palindrome(s):
	return s == s[::-1]
s = (input())
a = Palindrome(s)

if a:
	print("Yes")
else:
	print("No")

44
Yes

In [18]:
# Q.8 find the factorial of a number with recursion and without recursion.
# Sol.
a = int(input("Enter the number"))
def factor(n):
 if n==1:
  return n
 else:
  return n*factor(n-1)
  
s = int(input("Enter the number"))
  
if s < 0:
  print("factorieal is not possible")
elif s==0:
 print("factorieal is 1")
else:
  print(factor(s))
# #with out recursion
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is without recursion5: ")
print(fact)

Enter the number5
Enter the number5
120
Enter number:5
Factorial of the number is:
120

In [19]:
# Q.9 Compare two list whather they are same or not.
l1 = input("Enther the list like [a,b,c,d...]")
l2 = input("Enther the list like [a,b,c,d...]")
 
if l1 == l2:
 print("list are same")
else:
 print ("not same")

Enther the list like [a,b,c,d...][1,4,7,h]
Enther the list like [a,b,c,d...][4,5,1,2]
not same

In [20]:
# Q.10 Use lambda function.
# Sol.
x = lambda a, b : a * b
print(x(5, 6)) 

x = lambda  a,b,c : a+b+c
print(x(2,5,8))

30
15

In [22]:
# Q.11 Swapping variables in python with a function.
def swap_values(user_val1, user_val2):
    return user_val2, user_val1

user_val1 = int(input())
user_val2 = int(input())
swap_values(user_val1, user_val2)

print (swap_values(user_val1, user_val2))

7
9
(9, 7)

In [23]:
# Q.12 Python Program for Fibonacci numbers.
# Sol.
# Function for nth Fibonacci number
def Fibonacci(n):

	# Check if input is 0 then it will
	# print incorrect input
	if n < 0:
		print("Incorrect input")

	# Check if n is 0
	# then it will return 0
	elif n == 0:
		return 0

	# Check if n is 1,2
	# it will return 1
	elif n == 1 or n == 2:
		return 1

	else:
		return Fibonacci(n-1) + Fibonacci(n-2)

print(Fibonacci(9))

34

In [24]:
# Q.13 Binary Search in python
# Sol. 
def binarySearch(array, x, low, high):

    # Repeat until the pointers low and high meet each other
    while low <= high:

        mid = low + (high - low)//2

        if array[mid] == x:
            return mid

        elif array[mid] < x:
            low = mid + 1

        else:
            high = mid - 1

    return -1


array = [3, 4, 5, 6, 7, 8, 9]
x = 4

result = binarySearch(array, x, 0, len(array)-1)

if result != -1:
    print("Element is present at index " + str(result))
else:
    print("Not found")

Element is present at index 1

In [25]:
# Q.14 Use filter function in python.
# Sol.
l = [0, 1, 2, 3, 5, 8, 13]
result = filter(lambda x: x % 2 == 0, l)
print(list(result))

[0, 2, 8]

In [26]:
# Q.15 Use math function in python.
# Sol.
import math
x=math.sqrt(64)
print(x)

8.0

In [27]:
# Q.16. Double a List using map function
# Sol.
def double(x):
    return x+x
li = [4,5,7,8]
ans = map (double,li)
print(list(ans))

[8, 10, 14, 16]

In [28]:
# Q.17 Use reduce function and add two number.
# Sol.
from functools import reduce 

nums = [1, 2, 3, 4]
ans = reduce(lambda x, y: x + y, nums)
print(ans)

10

In [31]:
# Q.18 Write Python code to get the Cumulative sum of a list.
# Sol.
list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
	j+=list[i]
	new_list.append(j)
	
print(new_list)

[10, 30, 60, 100, 150]

In [32]:
# Q.19 creating accumulator function (python)
# Sol.
class MyAccumulator:
    def __init__(self):
        self.sum = 0
    def add(self, number): 
        self.sum += number
        return self.sum

A = MyAccumulator().add
print(A(10))      # => 10
print(A(20))      # => 30
print(A(-15))     # => 15

10
30
15

In [33]:
# Q.20 Python program to display calendar of
# Sol.
# given month of the year
# import module
import calendar

yy = 2017
mm = 11

# display the calendar
print(calendar.month(yy, mm))

   November 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [34]:
# Q 21 Use datetime function .
# Sol.
from datetime import datetime
# Getting Datetime from timestamp
date_time = datetime.fromtimestamp(1887639468)
print("Datetime from timestamp:", date_time)

Datetime from timestamp: 2029-10-25 16:17:48

In [35]:
# Q.22 Write a python code to add some days to current date  using date function.
# Sol.
from datetime import datetime
from datetime import timedelta

# taking input as the date
Begindatestring = "2020-10-11"

# carry out conversion between string
# to datetime object
Begindate = datetime.strptime(Begindatestring, "%Y-%m-%d")

# print begin date
print("Beginning date")
print(Begindate)

# calculating end date by adding 10 days
Enddate = Begindate + timedelta(days=10)

# printing end date
print("Ending date")
print(Enddate)

Beginning date
2020-10-11 00:00:00
Ending date
2020-10-21 00:00:00

In [37]:
# Q.23 Use shape,dtype in numpy.
# Sol.
import numpy as np
myarry= np.array([1,2,3,4,5,6],np.int64)
myarry[1]
myarry.shape
myarry.dtype

dtype('int64')